<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 >Trabaja con nosotros</h1>
  <form id="form">
    <ion-label>Nombre</ion-label>
    <ion-input type="name" placeholder="Yomara"></ion-input>
    <ion-label>Apellido</ion-label>
    <ion-input type="Name" placeholder="Diaz"></ion-input>
    <ion-label>Dirección</ion-label>
    <ion-input type="Password" placeholder="Av. General Enriquez"></ion-input>
    <ion-label>Télefono</ion-label>
    <ion-input type="Password" placeholder="0961628542"></ion-input>
    <ion-label>Hoja de Vida</ion-label>
    <ion-input type="Password" placeholder="Teléfono"></ion-input>

    <ion-button expand="block" color="--ion-color-mycolor">Enviar</ion-button>
  </form>

  <p>Acepto términos y condiciones</p>
</ion-content>