ion-row{
    margin-top: 30px;
ion-button{
    margin: auto;
    display:block;
    width: 150px;
    height: 150px;
    background-color:var(--ion-color-mycolor);
    //border-radius: 20px;
ion-icon{

}
}
}