

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button href="/myapplications" color="var(--ion-color-mycolor)">Mis <br>postulaciones <br>
          <ion-icon name="checkmark-done-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
        <ion-col>
          <ion-button href="/allapplications" color="var(--ion-color-mycolor)">Todas <br>las <br>postulaciones<br>
            <ion-icon name="checkmark-done-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
    </ion-row>
  </ion-grid>
  
  
</ion-content>
