<ion-header>
  <ion-toolbar>
    <ion-title color="var(--ion-color-mycolor)">Posibles trabajos</ion-title>
    <ion-buttons slot="start">
      <ion-button color="var(--ion-color-mycolor)" href="/applications">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form>
    <ion-item class="ion-activated">
      <ion-icon name="bookmark" slot="start"></ion-icon>
      <ion-label>Requerimiento num:</ion-label>
      <ion-label>1</ion-label>
    </ion-item>
    <ion-item class="ion-activated">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>Usuario</ion-label>
      <ion-label>yomis_20geminis@hotmail.com</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="list" slot="start"></ion-icon>
      <ion-label>Problema general:</ion-label>
      <ion-label>Pantala azul</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="list" slot="start"></ion-icon>
      <ion-label>Marca del equipo:</ion-label>
      <ion-label>Laptop HP</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="folder" slot="start"></ion-icon>
      <ion-label>Descripción del problema:</ion-label>
      <ion-label><p>La pantalla del equipo es de color azul y me da un mensaje de error</p></ion-label>
    </ion-item>
  </form>
    <ion-button color="var(--ion-color-mycolor)">Aceptar</ion-button>
    <ion-button color="var(--ion-color-mycolor)">Más detalle</ion-button>
  
  </ion-card>

</ion-content>
