<ion-header class="ion-no-border">
  <ion-toolbar>
    <div>
    <ion-buttons slot="start">
      <ion-button color="var(--ion-color-mycolor)" href="/home">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    </div>
    <div id="header">
      <img src="assets/icon/LOG2.png" />
    </div>
    <h1 color="var(--ion-color-mycolor)">Bienvenido a TecniFast</h1>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="sign-container gradient-1">
    
    <div class="login-container">
      <form
        class="form"
        [formGroup]="validations_form"
        (ngSubmit)="loginUser()"
      >
        <ion-item>
          <ion-label position="floating" color="primary">Correo electrónico</ion-label>
          <ion-input
            class="ion-text-left"
            type="text"
            formControlName="email"
          ></ion-input>
        </ion-item>
        <div class="validation-errors ion-text-center">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div
              class="error-message"
              *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)"
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating" color="primary">Contraseña</ion-label>
          <ion-input
            type="password"
            formControlName="password"
            class="ion-text-left"
            required
          ></ion-input>
        </ion-item>
        <div class="validation-errors ion-text-center">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div    
              class="error-message"
              *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)"
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <div class="ion-text-center fade-in">
          <ion-button
            color="var(--ion-color-mycolor)"
            class="submit-btn"
            type="submit"
            [disabled]="!validations_form.valid"
            >Ingresar</ion-button
          >        
        </div>
        <div class="ion-text-center">
        <label class="error-message" >{{errorMessage}}</label></div>
      </form>
      <div class="ion-text-center">
        <p class="go-to-recover" >
          <a (click)="goToRecoverPasswordPage()" class="a">¿Olvidaste tu contraseña?</a>
        </p>
        <p class="go-to-register" >
          No tienes una cuenta?
          <a (click)="goToRegisterPage()" class="a">Crear cuenta.</a>
        </p>
      </div>
    </div>
  </div>
  <div class="ion-text-center">
    <ion-button id="eye"color="none" href="/slider">
      <ion-icon  name="eye-outline" color=(--ion-color-mycolora)></ion-icon>
      <ion-label>Tomar un tour</ion-label>
    </ion-button>
</div>
</ion-content>