<ion-app>
 <ion-menu menuId="main-menu" contentId="main">
   <ion-content>
     <div class="menu-header-bg">Menú</div>
     <div class="header content">
      <ion-label>
        <h2>Nombre de usuario</h2>
        <p>Tipo de usuario</p>
      </ion-label>
     </div>
    <div class="action-button">
    </div>
    
    <ion-list class="menu-items" lines="none">

      <ion-menu-toggle auto-hide="true">
        
      <ion-item class="active">
        <ion-icon name="menu" slot="start" routerLink="home"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="true">
      <ion-item>
        <ion-icon name="hammer" routerLink="solutions"></ion-icon>
        <ion-label>Soluciones</ion-label>
      </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
      <ion-item>
        <ion-icon name="send" routerLink="comments"></ion-icon>
        <ion-label>Comentarios</ion-label>
      </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
      <ion-item>
        <ion-icon name="person" routerLink="profile-client"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
      <ion-item>
        <ion-icon name="briefcase" routerLink="work"></ion-icon>
        <ion-label>Trabaja con nosotros</ion-label>
      </ion-item>
    </ion-menu-toggle>

      <ion-menu-toggle>
      <ion-item>
        <ion-icon name="add" routerLink="request"></ion-icon>
        <ion-label>Requerimiento</ion-label>
      </ion-item>
      
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item>
          <ion-icon name="call" routerLink="contact"></ion-icon>
          <ion-label>Contáctanos</ion-label>
        </ion-item>
        
        </ion-menu-toggle>
    </ion-list>
   </ion-content>
 </ion-menu>
 <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>