

.whatsapp{
  width: 40px;
  height: 40px;
  color:#00bb2d;
}
.call{
  width: 40px;
  height: 40px;
  color:var(--ion-color-mycolora);
}
.facebook{
  width: 40px;
  height: 40px;
  color:#3b5998;
  
}
ion-grid{
  text-align: justify;
  padding: 10px;
ion-row{
  
ion-text{
  
  font-size: 16px;
  font-family: sans-serif;
  //font-family: 'Times New Roman', Times, serif;
  text-align: justify !important;
  color:var(--ion-color-mycolora) !important;
  margin-top: 15px;
  margin-bottom: 15px;
}
}
}
ion-item{
  font-size: 16px;
  font-family: sans-serif;
  text-align: left;
  border: none ! important;
}
ion-icon{
  color: var(--ion-color-mycolor);
}
ion-title{
  text-align: center;
  color:var(--ion-color-mycolor);
}
ion-button{
  display:block !important;
  margin: auto !important;
  background-color: var(--ion-color-mycolora);
  //--background:linear-gradient( white ,var(--ion-color-mycolora)) !important;
  width: 85%;
  
}
ion-card{
  ion-card-content{
  ion-text{
  font-size: 16px;
  font-family: sans-serif;
  text-align: center !important;
  color:var(--ion-color-mycolora) !important;
  margin-top: 15px;
  margin-bottom: 15px;
  }
}
}