<ion-header>
  <ion-toolbar>
    <ion-title>TecniFast</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button >
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button color="light">
        <ion-icon name="logo-facebook" class="facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="call" class="call"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-whatsapp" class="whatsapp" ></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <div><img src="./assets/icon/carusel1.jpeg" /></div>
  <ion-grid>
    <ion-title>Servicios</ion-title>
    <ion-row>
    <ion-col><img src="./assets/icon/mantenimiento4.jpg" /></ion-col>
    <ion-col><img src="./assets/icon/mantenimiento3.jpg" /></ion-col>
    <ion-col><img src="./assets/icon/mantenimiento1.jpg" /></ion-col>
    
  </ion-row>
    <ion-text>Somos un equipo innovador, donde ofrecemos el servicio de mantenimiento
      de equipos computacionales.</ion-text>
    <ion-text>Si deseas saber cuales son los daños posibles de tu equipo, te podemos 
      ayudar a resolver tus dudas.
    </ion-text>
    <ion-button color=var(ion-color-mycolor)>Posibles daños</ion-button>
  </ion-grid>
  <ion-grid>
    <ion-title>Errores más comunes</ion-title>
    <ion-list>
      <ion-item><ion-icon name="chevron-forward-outline"></ion-icon>El PC va lento
      </ion-item>
      <ion-item><ion-icon name="chevron-forward-outline"></ion-icon>Errores del sistema operativo
      </ion-item>
      <ion-item><ion-icon name="chevron-forward-outline"></ion-icon>El ordenador no enciende o se apaga
      </ion-item>
      <ion-item><ion-icon name="chevron-forward-outline"></ion-icon>Problemas con la RAM
      </ion-item>
      <ion-item><ion-icon name="chevron-forward-outline"></ion-icon>Problemas con la tarjeta gráfica
      </ion-item>
      <ion-item><ion-icon name="chevron-forward-outline"></ion-icon>Problemas en el ventilador de tu PC
      </ion-item>
      
    </ion-list>
    <ion-button href="/solutions" color=var(ion-color-mycolor)>Posibles daños </ion-button>
  </ion-grid>

  <ion-card>
      <ion-card-header>
        <img src="./assets/icon/contactanos.png" />
        
      </ion-card-header>
      <ion-card-content>
        <ion-text>Desea contáctarse con nosotros, puedes enviar un correo y estaremos 
          nos comunicaremos contigo en poco tiempo.
        </ion-text>
        <ion-button href="/contact" color=var(ion-color-mycolor)>Contáctanos </ion-button>
      </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="./assets/icon/trabaja.jpg" />
      
    </ion-card-header>
    <ion-card-content>
      <ion-text>Desea contáctarse con nosotros, puedes enviar un correo y estaremos 
        nos comunicaremos contigo en poco tiempo.
      </ion-text>
      <ion-button href="/work" color=var(ion-color-mycolor)>Trabaja con nosotros </ion-button>
    </ion-card-content>
</ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="'/home'">
        <ion-icon name="home"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="'/profile-client'">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="'/comments'">
        <ion-icon name="list"></ion-icon>
        <ion-label>Comentarios</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
</ion-footer>