<ion-header>
  <ion-header>
    <ion-toolbar>
      <ion-title>Técnico</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
    <ion-content fullscreen>
  
  
      <ion-avatar class="ion-margin-start">
        <ion-icon class="avata" name="person-outline"></ion-icon>
      </ion-avatar>
  
        <ion-list lines="full" class="ion-no-margin">
          <ion-list-header lines="full">
            <ion-title>Datos personales</ion-title>
          </ion-list-header>
          <ion-item>
            <ion-label>Nombre</ion-label>
            <ion-label type="name">Elvis Agila</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Correo</ion-label>
            <ion-label>example@example.com</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Teléfono</ion-label>
            <ion-label> 0967204757</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Descripción</ion-label>
            <ion-label>Usuario Técnico</ion-label>
          </ion-item>
        </ion-list>
        <ion-grid>
          <ion-row>
            <ion-button href="/technicalcomment" expand="full" color=var(--ion-color-mycolor)>Comentarios</ion-button>
          </ion-row>
          <ion-row>
            <ion-button href="/usercomment" expand="full" color=var(--ion-color-mycolor)>Requerimientos</ion-button>
          </ion-row>
          <ion-row>
            <ion-button href="" expand="full" color=var(--ion-color-mycolor)>Calificar técnicos</ion-button>
          </ion-row>
          </ion-grid>
    
  </ion-content>