
  <ion-content fullscreen class="ion-padding" scroll-y="false">
    <ion-slides>

      <ion-slide>
        <div class="slide">
          <img src="./assets/icon/LOG1.png"/>
          <h1>Bienvenido</h1>
          <p>Buscas una <b>solución</b> para el daño de tu equipo de computo </p>
        </div>
      </ion-slide>

      <ion-slide>
        <img src="./assets/icon/mantenimiento3.jpg"/>
        
        <p>Dinos cual es tu requerimiento y pronto te ayudaremos </p>
      </ion-slide>

      <ion-slide>
        <img src="./assets/icon/mantenimiento4.jpg"/>
        <h1>Estás en busca de un técnico?</h1>
        <p>En nuestra plataforma, tu requerimiento será atendido por los mejores <b>técnicos</b></p>
      </ion-slide>
    </ion-slides>
  </ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button color="var(--ion-color-mycolor)" href="/login">Ingresar</ion-button>
  </ion-toolbar>
</ion-footer>
