<ion-header>
  <ion-toolbar>
    <ion-menu-button menu="main-menu" slot="start"></ion-menu-button>
    <ion-title>Posibles daños</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content fullscreen>
    <ion-card>
      <img src="./assets/icon/mantenimiento4.jpg" />
      <ion-card-header>
        <ion-card-title>El PC va muy lento</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Si el ordenador ha disminuido su rendimiento, puede necesitar desfragmentación del disco duro o haya
        realizado una ejecución de un software malicioso (virus informático, gusanos informáticos, malaware)que afecta a la velocidad del sistema y te haga falta una 
        limpieza de virus.
      </ion-card-content>
    </ion-card>
      <ion-card>
        <img src="./assets/icon/mantenimiento6.jpg" />
        <ion-card-header>
          <ion-card-title>Errores del sistema operativo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          En caso de ver que tu sistema operativo (Microsoft Windows, Ubuntu,Mac OS etc) no enciende o tu BIOS no reconoce
          el sistema operativo, puede que haya archivos importantes dañados, también suele aparecer un mensaje en la pantalla 
          como este "No se encuentra el sistema operativo".
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="./assets/icon/mantenimiento3.jpg" />
        <ion-card-header>
          <ion-card-title>El ordenador no enciende o se apaga</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Uno de los problemas mas comunes es el arranque del equipo, pero también es posible que esté fallando la fuente de alimentación.
          Otro de los problemas es la elevalada temperatura del procesador.Además,si el equipo subre un apagado repentino pueden ser los capacitores.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="./assets/icon/mantenimiento5.jpg" />
        <ion-card-header>
          <ion-card-subtitle></ion-card-subtitle>
          <ion-card-title>Problemas con la RAM</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Si no está configurada correctamente, podría estar utilizando solo una porción de su capacidad total para los procesos.
          Si se utiliza solo una parte de la RAM, los juegos y programas funcionarán más lento. 
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="./assets/icon/mantenimiento1.jpg" />
        <ion-card-header>
          <ion-card-subtitle></ion-card-subtitle>
          <ion-card-title>Problemas con la tarjeta gráfica</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Al margen de los problemas de drivers, si tu tarjeta está integrada, 
          siempre puede haber problemas ligados al calentamiento general o el 
          correcto funcionamiento de la placa base.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <img src="./assets/icon/mantenimiento8.jpg" />
          <ion-card-title>Problemas con el ventilador de tu PC</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          A veces están sucios o averiados, hacen un ruido anormal al arrancar el ordenador 
          o directamente no se encienden. Todo esto son signos de que necesitan abrir la carcasa y 
          hacer tareas de mantenimiento.
        </ion-card-content>
      </ion-card>
    
  </ion-content>