ion-toolbar{
    background-color: #383E56 !important;
}
ion-title{
    text-align: center;
    color: var(--ion-color-mycolor);
}
ion-content{
    background-color: #FB743E;
}
ion-card-header{
    background-color: var(--ion-color-mycolora);
}
ion-card-title{
    color: #FB743E;
    text-align: center;
}
ion-card-content{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    
}