<ion-header>
  <ion-toolbar>
    <ion-title>Comentarios realizados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list-header>Default</ion-list-header>
  <ion-list>
    <ion-item>
      <ion-avatar slot="end">
        <ion-icon name="person-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
        <p>consectetur adipiscing elit. Duis ut urna neque.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="end">
        <ion-icon name="person-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
        <p>consectetur adipiscing elit. Duis ut urna neque.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="end">
        <ion-icon name="person-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
        <p>consectetur adipiscing elit. Duis ut urna neque.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="end">
        <ion-icon name="person-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
        <p>consectetur adipiscing elit. Duis ut urna neque.</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>