<ion-header>
  <ion-toolbar>
    <ion-menu-button menu="main-menu" slot="start"></ion-menu-button>
    <ion-title>Comentarios </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list-header>Default</ion-list-header>
  <ion-list>
    <ion-item>
      <ion-avatar slot="end">
        <ion-icon name="person-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <p>Excelente servicio del técnico, spuo darme una solución al problema de mi equipo</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Hacer comentario</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-button color="transparent">
      <ion-icon name="send"></ion-icon>
    </ion-button>
    
  </ion-list>

</ion-content>