ion-header{
    ion-title{
        text-align: center;
        color: var(--ion-color-mycolor);
    }
}
ion-button{
    display: block;
    margin: auto;
    width: 20%;
    background-color: transparent;
}
ion-icon{
    color: var(--ion-color-mycolor);
}

ion-row{
   margin-top: 20px;
}